.search-group {
    margin: 20px 0;
  
    .search-container {
      padding-right: 10px; // Arama kutusu ve buton arasında boşluk bırakır
    }
  
    .checkbox-container {
      padding-left: 10px; // Checkboxlar ve arama kutusu arasında boşluk bırakır
    }
  }
  
  .results-container {
    margin: 20px 0;
  }